<main class="full-screen">
  <article class="justify-content-center mx-0">
    <div class="text-center bg-CPE-color">
      <h3 class="text-CPE-white" >Membros logados</h3>
    </div>
  </article>
  <article class="mt-3">
    <section class="row col-12 d-block d-sm-flex justify-content-between mx-auto">
      <div class="col-6 d-none d-sm-block">
        <p>Pesquise por um membro:</p>
        <input type="text" id="search" class="form-control" placeholder="Nome do membro">
      </div>
      <div class="text-center">
        <form action="yellow-beach" method="post" id="yellow-beach-form">
          <button type="button" id="yellow-beach-btn" class="btn color-button btn-lg mt-4"  >Deslogar todos</button>
        </form>
      </div>
      <div class="text-center">
        <button onclick="location.href = '/login'" class="btn color-button btn-lg mt-4"  >Login</button>
      </div>
    </section>
    <br>
    <section class="container">
      <table class="table table-responsive-sm">
        <caption>Lista de membros logados</caption>
        <thead class="thead-CPE-black">
          <tr>
            <th class="text-center color-background"  >Nome</th>
            <th colspan="6" class="text-center d-none d-lg-table-cell color-background"   ></th>
            <th class="text-center color-background"  >Chegada</th>
            <th class="text-center color-background"  >Tempo</th>
            <th class="text-center color-background"  ></th>
          </tr>
        </thead>
        <tbody id="table">
          {{#each users}}
          <tr>
            <td scope="row" class="text-center align-middle font-weight-bold">{{name}}</td>
            <td scope="row" class="text-center d-none d-lg-table-cell"></td>
            <td scope="row" class="text-center d-none d-lg-table-cell"></td>
            <td scope="row" class="text-center d-none d-lg-table-cell"></td>
            <td scope="row" class="text-center d-none d-lg-table-cell"></td>
            <td scope="row" class="text-center d-none d-lg-table-cell"></td>
            <td scope="row" class="text-center d-none d-lg-table-cell"></td>
            <td scope="row" class="text-center d-none">{{arriveISO}}</td>
            <td scope="row" class="text-center align-middle font-weight-bold"></td>
            <td scope="row" class="text-center align-middle font-weight-bold"></td>
            <td scope="row" class="text-center">
              <form action="/logout" method="POST">
                <input type="hidden" name="user[name]" value="{{name}}">
                <button class="btn text-white color-button" type="submit">Deslogar</button>
              </form>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </section>
  </article>
</main>

{{#section 'scripts'}}
<script src="/javascripts/moment-with-locales.min.js"></script>
<script src="/javascripts/search-table.js"></script>
<script src="/javascripts/index.js"></script>
{{/section}}
