<main class="full-screen vertical-center">
  <div class="text-center col-12 col-sm-6 mx-auto">
    {{!-- <img src="/images/yellow-logo.png" height="200em" width="200em"> --}}
    <form id="loginForm" class="form-login" action="/login" method="post">
      <h1 class="h3 mb-3 font-weight-normal">Login</h1>
      <div class="user-input">
        <input type="text" class="form-control input-text" name="user[name]" required autofocus>
        <label class="floating-label text-light-gray-2">Nome</label>
      </div>
      <button class="btn btn-lg btn-block mt-3 color-button" type="button"  id="loginButton">Logar</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
    </form>
  </div>
</main>

{{#section 'scripts'}}
<script src="/javascripts/location.js"></script>
{{/section}}
