<main class="full-screen vertical-center">
  <article class="col-10 col-sm-8">
    <form action="/notes?_method=PUT" method="post">
      <div class="user-input">
        <textarea rows="4" name="note" class="form-control input-text">{{text}}</textarea>
        <label class="floating-label text-CPE-black">Recado</label>
      </div>
      <button class="btn btn-lg btn-block mt-3 color-button col-6 col-sm-3 float-right" type="submit">Salvar</button>
    </form>
  </article>
</main>
