<main class="full-screen vertical-center">
  <article class="text-center col-12 col-sm-6">
    <form class="form-login" action="/admin/change-password" method="post">
      <h1 class="h3 mb-3 font-weight-normal">{{title}}</h1>
      <div class="user-input mt-4">
        <input type="password" class="form-control input-text" name="user[password]" required >
        <label class="floating-label text-light-gray-2">Senha atual</label>
      </div>
      <div class="user-input mt-4">
        <input id="newPassword" type="password" class="form-control input-text" name="user[newPassword]" required >
        <label class="floating-label text-light-gray-2">Nova senha</label>
      </div>
      <div class="user-input mt-4">
        <input id="confirmPassword" type="password" class="form-control input-text" required >
        <label class="floating-label text-light-gray-2">Confirmar nova senha</label>
      </div>
      <button class="btn color-button mt-4" type="submit">Salvar</button>
    </form>
  </article>
</main>

{{#section 'scripts'}}
<script src="/javascripts/change-password.js"></script>
{{/section}}
